<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="./css/device.css">
  <style>
#attr-conf
{
    position:absolute; 
    right:5px; 
    bottom: 5px; 
    z-index:10000; 
    width:48px; 
    height:48px; 
    background-image: url("./img/conf.png");
}
#attr-button-maps
{
    position:absolute; 
    right:125px; 
    bottom: 5px; 
    z-index:10000; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_map.png");
}
#attr-button-graphs
{
    position:absolute; 
    right:65px; 
    bottom: 5px; 
    z-index:10000; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_graph.png");
}
  </style>
</head>
<body>
	


<div class="container">
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="line"><h3>Dispositivo seleccionado</h3></div>
            <div class="outter"><img src="./images/<%=icon%>" class="image-circle"/></div>   
            <h1><%=vehicleLicense%></h1>
            <!--span>INDIAN</span-->
	    </div>
        <div class="col-md-6 col-xs-6 follow line" align="center">
            <table>
                <tr>
                    <td>DeviceId:</td>
                    <td><%=deviceId%></td>
                </tr>
                <tr>
                    <td>Alias:</td>
                    <td><%=alias%></td>
                </tr>
            </table>
            <!--h3>
                 Device ID <br/> <span><%=deviceId%></span>
            </h3-->
        </div>
        
        <div class="col-md-12 col-xs-12 login_control">
                
                <div class="control">
                    <div class="label">Última posición:</div>
                    <!--input type="text" class="form-control" value="admin@gmail.com"/-->
                    <%=latitude%>, <%=longitude%>
                    <div class="label">Velocidad:</div>
                    <%=speed%>
                </div>
                
                <div align="center">
                    <div id="attr-button-maps" onclick="javascript:location.href='http://view.kyroslbs.com/map'"></div>
                    <div id="attr-button-graphs" onclick="javascript:location.href='http://view.kyroslbs.com/graphs'"></div>
                    <div id="attr-conf" onclick="javascript:location.href='http://view.kyroslbs.com/home'"></div>
                     <!--button class="btn btn-orange">LOGIN</button-->
                </div>
                
        </div>
        
        
            
    </div>
</div>

</body>
</html>